<div ng-controller="HomeController">
  <div class="page-header">
    <h1 id="heading">When I was a kid...</h1>
  </div>
  <div class="row">
    <div class="col-md-9">
      <label class="margin-top text-danger" for="memory1">Tell us about when you were a kid!</label>
      <textarea id="memory1" class="form-control" name="memory1"></textarea>
      <label class="margin-top text-danger" for="memory2">But now...</label>
      <textarea id="memory2" class="form-control" name="memory2"></textarea>
      <label class="margin-top text-danger margin-right">I was born in <span></span></label>
      <input class="form-control" type="text" name="year" placeholder="Enter a year...">
    </div>
    <div class="col-md-3 past-memories">
      <h3 class="text-warning">See Memories From These Years:</h3>
    </div>
  </div>
  <div class="row no-padding">
    <div class="col-md-3 no-padding margin-top">
      <button class="button btn btn-lg btn-default">Submit Memory</button>
    </div>
  </div>
  <div>
    <div class="row memories">
      <h2 class="pull-left">Ah Memories ~</h2>
      <div class="col-md-12 memory" ng-repeat="memory in memories">
        <h4><strong><i class="glyphicon glyphicon-chevron-right"></i><span class='stand-out'>When I was a kid</span></strong> {{memory.attributes.old_days}} <strong class="stand-out">but now</strong> {{memory.attributes.these_days}}... </h4>

      </div>
    </div>
    <div class="spacer">
    </div>
  </div>
</div>
