<div ng-controller="HomeController">
  <div class="page-header">
    <h1 id="heading">When I was a kid...</h1>
  </div>
  <div class="row">
    <div class="col-md-9">
      <form name="memoryForm" ng-submit="submit()" novalidate>
        <label class="margin-top text-danger" for="memory1">Tell us about when you were a kid!</label>
        <textarea id="memory1" class="form-control" ng-model="memory1" ng-class='{invalid: memoryForm.memory1.$invalid && !memoryForm.memory1.$pristine}' name="memory1" required></textarea>
        <p class="text-danger text-left margin-top-sm" ng-show="memoryForm.memory1.$invalid && !memoryForm.memory1.$pristine">This field is required</p>
        <label class="margin-top text-danger" for="memory2">But now...</label>
        <textarea id="memory2" class="form-control" ng-model="memory2" ng-class='{invalid: memoryForm.memory2.$invalid && !memoryForm.memory2.$pristine}' name="memory2" required></textarea>
        <p class="text-danger text-left margin-top-sm" ng-show="memoryForm.memory2.$invalid && !memoryForm.memory2.$pristine">This field is required</p>
        <label class="margin-top text-danger margin-right">I was born in <span></span></label>
        <input class="form-control" type="text" ng-model="year" ng-class='{invalid: memoryForm.year.$invalid && !memoryForm.year.$pristine}' name="year" placeholder="Enter a year..." required>
        <p class="text-danger margin-top-sm" ng-show="memoryForm.year.$invalid && !memoryForm.year.$pristine">This field is required</p>
        <button type="submit" class="button btn btn-lg btn-default">Submit Memory</button>
      </form>
    </div>
    <div class="col-md-3 past-memories">
      <h3 class="text-warning">See Memories From These Years:</h3>
    </div>
  </div>
  <div>
    <div class="row memories">
      <h2 class="pull-left">Ah Memories ~</h2>
      <div class="col-md-12 memory" ng-repeat="memory in memories">
        <h4><strong><i class="glyphicon glyphicon-chevron-right"></i><span class='stand-out'>When I was a kid</span></strong> {{memory.attributes.old_days}} <strong class="stand-out">but now</strong> {{memory.attributes.these_days}}... </h4>

      </div>
    </div>
    <div class="spacer">
    </div>
  </div>
</div>
