<div ng-controller="HomeController">
  <div class="page-header">
    <h1 id="heading">When I was a kid...</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="margin-top text-danger" for="memory1">Tell us about when you were a kid!</label>
      <textarea id="memory1" class="form-control" name="memory1"></textarea>
      <label class="margin-top text-danger" for="memory2">But now...</label>
      <textarea id="memory2" class="form-control" name="memory2"></textarea>
      <label class="margin-top text-danger margin-right">I was born in <span></span></label>
      <input class="form-control" type="text" name="year" placeholder="Enter a year...">
    </div>
    <div class="col-md-6">
      <h2 class="text-warning">See Memories From These Years:</h2>
    </div>
  </div>
  <div class="row no-padding">
    <div class="col-md-3 no-padding margin-top">
      <button class="button btn btn-lg btn-default">Submit Memory</button>
    </div>
  </div>
</div>